<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Dementery</title>
    <link rel="stylesheet" href="{{'static/css/style.css'}}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Dementery</h1>
            <p>Проверка памяти и внимания</p>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>Это не диагноз</p>
        </footer>
    </div>
</body>
</html>